<div id="notice" class="alert alert-danger d-none" role="alert">
 <%= notice %>
</div>

<h1>Posts</h1>
<div class="row">
  <div class="col-md-8">
    <div id="create_post">
      <%= render template: 'posts/new', post: @post %>
    </div>
  </div>
  <div class="col-md-4">
    <p id="item-show"></p>
  </div>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="my_posts">
    <% @posts.each do |post| %>
      <%= render 'post_row', post: post %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
